{{> header }}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">History</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <h3 class="mb-1">
                            {{#if report.status}}
                                <span class="badge bg-primary">DONE</span>
                            {{else}}
                                <span class="badge bg-warning">PENDING</span>
                            {{/if}}
                            Created at {{report.viewDate}}
                        </h3>
                        <p>
                        Keywords:
                            {{#each report.keywordsArray}}
                                <span class="badge bg-dark">{{this}}</span>
                            {{/each}}
                        </p>
                        <hr>

                        {{#each pages}}
                        <div class="card">
                            <div class="card-body">
                                <div class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1"><a href="https://facebook.com/{{this.pageID}}" target="_blank"><i class="menu-icon fa fa-facebook"></i> <b>{{this.name}}</b></a></h5>
                                    </div>
                                    <div class="media">
                                      <img class="mr-3 img-responsive col-sm-2" src="{{this.cover}}" alt="{{this.name}}">
                                      <div class="media-body">
                                        <b>Description:</b> {{this.description}}
                                        <br><b>Category:</b> {{this.category}}
                                        <br><b>Website:</b> {{this.website}}
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div><!-- /Page Inner -->

{{> footer }}
